*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: ##b3b3b342;
}

h1 p {
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 100%;
    height: 540px;
    text-align: center;
}

section:nth-of-type(1){
    background-image: url(imagem1.jpg)
}

section:nth-of-type(3){
    background-image: url(imagem2.webp)
}

section:nth-of-type(5){
    background-image: url(imagem3.webp)
}

section:nth-of-type(7){
    background-image: url(imagem4.webp)
}

section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

p{
    font-size: 30px;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}